<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team1.kingofhonor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hero_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".HeroDetail"
            android:label="英雄" />
        <activity android:name=".HeroAdd" />
        <activity android:name=".equipment_detail" />

        <receiver android:name=".MyReceiver1"
            android:exported="true">
            <intent-filter>
                <action android:name="starts" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="start"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
    </application>

</manifest>